body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}


/* Header **/
header{
    background-image: url(../img/back.jpg);
    background-size: cover;
    height: 100vh;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 25px;
}
.title-bottom {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 25px;
}
.sub{
	background: none;
	border: 2px solid #828589;
	padding: 10px;
	font-size: 15px;
	color: #FFFFFF;
}
.sub:hover{
	background: #ffffff;
	color: #FF0000;
	border: none;
	border-radius: 5px;
}
#sub-title{
	text-align: center;
	color: #8D1E07;
}

/*Side navbar*/


#mySidenav a {
    position:absolute;
    left: -90px;
    transition: 0.4s;
    padding: 13px;
    width: 100px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
	background: #ffffff;
	color: #555555;
}

.about {
    top: 20px;
    background-color: #8D1E07;
}

#blog {
    top: 80px;
    background-color: #2196F3;
}

#projects {
    top: 140px;
    background-color: #f44336;
}

#contact {
    top: 200px;
    background-color: #555;
}

/* Showcase */
.box-title{
  	text-align: center;
	color: #4D086D;
	font-size: 2rem;
	margin-top: 20px;
}
.about_me p{
	float:right;
  	text-align: center;
    width:80%;
    padding:10px;
}
.about_me img{
	width: 150px;
	height: 150px;
	align-items: center;
	border-radius: 50%;
}
#showcase{
  min-height:400px;
  background:url('/img/back.jpg') no-repeat 0 -400px;
  text-align:center;
  color:#ffffff;
}


/* Newsletter */
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#35424a
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:35px;
  width:250px;
  border-radius: 6px;
  box-sizing: border-box;
}
.button_1{
	background-color: #9D3B2E;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:140px;
}

/*contact form*/
#contact-form{
	background-image: url(../img/contact-form.jpg);
	background-size: cover;
	width: auto;
	height: 100vh;
	background-repeat: no-repeat;
	padding-left: 30%;
	padding-top: 20px;
}

#contact-form label{
	color: #ffffff;
	font-size: 18px;
}
input[type=text], email, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
	opacity: 0.5;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=email]{
    width: 50%;
    padding: 12px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
	opacity: 0.5;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #9D3B2E;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #FFFFFF;
	color: #9D3B2E;
}
/*social button*/
.social{
	padding-left: 40%;
	margin-bottom: 10px;
}
.social img{
	width: 65px;
	height: 65px;
	border-radius: 50%;
}
/*End social button*/

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#5C595E;
  text-align: center;
}
